<div class=" container ">
   <div *ngIf="showTemplate; then realTemplate else isLogin">
   </div> 
    <ng-template #isLogin>
        <form method="post" [formGroup]="formLogin" (ngSubmit)="login()">
            <div *ngIf="errorsOnSubmite" class="notif"><i class="fa fa-times" aria-hidden="true"></i>
                Renseigner correctement tous les champs !</div>
                
                <div *ngIf="errorsServer" class="notif"><i class="fa fa-times" aria-hidden="true"></i>
                    Erreur Interne du server !</div>
    
                <div *ngIf="authentificationFailed" class="notif"><i class="fa fa-times" aria-hidden="true"></i>
                   Echec D'authentification, email ou mot de passe incorrect !</div>
            <label for="email">Email: </label><br>
            <input type="email" name="email"  minlength="3" formControlName="email" id="email" class="inputEmail" placeholder="Entrer votre adressse email"><br>
            <span *ngIf="formLogin.controls['email'].dirty && formLogin.controls['email'].errors ">(Champ obligatoire)</span><br>
    
            <label for="pwd">Mot de passe: </label><br>
            <input [type]="inputType" formControlName="pass" name="pwd" placeholder="Entrer votre mot de passe" id="surname" class="inputEmail"><br>
            <span *ngIf="formLogin.controls['pass'].dirty && formLogin.controls['pass'].errors ">(Champ obligatoire)</span><br>
                
            <input type="checkbox" class="checkbox" (click)="showPassword()"> <abbr (click)="showPassword()"> Afficher le mot de passe </abbr><br>
    
            <button type="submit" class="loginBtn" >Se connecter <i class="fas fa-unlock"></i> </button><br>
            <span class="resetPass"> <a href="" routerLink="resetpass">Mot de passe oublie ?</a> </span><br>
            <div class="choiceBloc">
                <hr width="300" /> 
                    Ou
                <hr width="300" />
             </div>
            <button (click)="Register()" class="rgsBtn">Creer un compte CashMonney <i class="fas fa-check"></i></button>
            
        </form>       
    </ng-template>
    <ng-template #realTemplate> 

         <button class="logout" (click)="logout()">Se Deconnecter</button>
        <div class="overplay">
            <table class="tableData">
                <thead>
                    <td><img src="" alt="profile" width="100px" height="200px"></td>
                    <td align="right">  
                        <table class="scndTble">
                            <tr>
                                <td> {{ dataUsers[0].email }} </td>
                            </tr>

                            <tr>
                                <td> {{ dataUsers[0].nom }} </td>
                            </tr>

                            <tr>
                                <td>{{ dataUsers[0].prenom }} </td>
                            </tr>

                            <tr>
                                <td> {{ dataUsers[0].tel }} </td>
                            </tr>

                            <tr>
                                <td><button class="trans" (click)="transaction()">Effectuer une transaction</button></td>
                            </tr>
                        </table>
                    </td>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </ng-template>

    
         
</div>
<router-outlet></router-outlet>
