<html>
    <head>
        <title>login-home</title>
    </head>
    <body>
        <div class="NavHeader">
            <div class="nav">

                <div class="Navlogo">
                    <span class="logo">Cash-Monney</span>
                </div>
            <div class="navLink">
        
                <a href="/" class="title">Langue </a>
                <a href="/" class="title" routerLink="informations"><i class="fa fa-fax" aria-hidden="true"></i>
                    Informations</a>
                <a href="/" class="title" routerLink="operations"><i class="fa fa-credit-card" aria-hidden="true"></i>
                    Operations </a>
                
                <a href="/" routerLink="login" class="title"> 
                    <i class="fas fa-user"> Compte </i>
                </a>
                <a href="" class="title" routerLink="home"><i class="fas fa-home"></i> Home </a>
            </div>
            </div>
        </div>
    </body>
</html>
<router-outlet></router-outlet>
