.container{
    position: relative;
    margin-top: 6%;
    align-self: center;
    width: 95%;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 5px 6px 0.8px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    border-radius: 10px;
    justify-content: center;  
    .notif{
        margin-top: 10px;
        margin-left: auto;
        text-align: center;
        width: 99%;
        height: 4vh;
        font-size: 22px;
        color: white;
        border-radius: 10px;
        background-color: rgb(21, 204, 97); 
        border-left-width: 15px;
        border-left-color: rgb(0, 255, 242);
        padding: 10px;   
        span{
            float: right;
            margin-right: 15px;
        }
     }
    .clean{
        position: relative;
        padding: 20px;
        float: right;
        .delete{
            color: white;
            background-color: rgb(238, 37, 37);
            font-size: 17px;
            width : fit-content;
            height: fit-content;
            padding: 7px;
            margin-left: 10px;
            cursor: pointer;
            border: none;   
            border-radius: 20px;
        }
        .delete:hover{
            background-color: rgb(156, 30, 30);
        }
        .load{
            color: white;
            background-color: rgb(37, 74, 238);
            font-size: 17px;
            width : fit-content;
            height: fit-content;
            padding: 7px;
            margin-left: 10px;
            border: none;   
            cursor: pointer;
            border-radius: 20px;
        }
        .load:hover{
            background-color: rgb(87, 115, 207);
        }
    }
    .delete{
            color: white;
            background-color: rgb(238, 37, 37);
            font-size: 17px;
            width : fit-content;
            height: fit-content;
            padding: 5px;
            margin-left: 10px;
            border: none;   
            cursor: pointer;
            border-radius: 20px;
    }
    .delete:hover{
        background-color: rgb(156, 30, 30);
    }
    table{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        height: 100%;
        th{
            text-align: center;
            color: white;
            padding: 15px;
            background-color: rgb(42, 42, 133);
        }
        td{
            text-align: center;
            background-color: rgb(228, 211, 211);
            font-size: 24px;
        }
    }

    .retour{
        color: white;
        background-color: rgb(37, 74, 238);
        font-size: 17px;
        width : fit-content;
        height: fit-content;
        padding: 7px;
        margin-left: 10px;
        border: none;   
        border-radius: 20px;
        cursor: pointer;
    }
    .retour:hover{
        background-color: rgb(87, 115, 207);
    }
    
}