.container{
    position: relative;
    margin-top: 7%;
    align-self: center;
    width: 50%;
    height: 35vh;
    box-shadow: 1px 5px 6px 0.8px;
    margin-left: 25%;
    margin-right: 30%;
    background-color: azure;
    border-radius: 10px;
    justify-content: center;  
    span{
        position: relative;
        color: red;
        margin-top: 5%; 
        margin: 5px;
        font-size: 20px;
        top: 25%;
        margin-left: 7%;
    } 
}